 .input-group-addon 
{
	background:#27ae60;
}
a
{
  text-decoration: none;
}
#showcase {
 height: 60vh;
  position: relative;
  z-index: 1;
  padding: 0px;
  overflow: hidden;
  float: none;
  }
.showcase-item
{
	width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 1;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s; 
}
  
  
.showcase-title
{
	font-size: 58px !important; 
	color:#e74c3c;
	font-weight:bold;
	margin-top:140px;
}
.slide-toggle {
  overflow: hidden;
  transition: all 1.5s; 
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload 
{
    position: absolute;
    top: 0; 
     right: 0; 
     margin: 0; 
     padding: 0; 
     font-size: 20px; 
    cursor: pointer;
    opacity: 0;
     filter: alpha(opacity=0); 
  }
  .marketing .row .data
  {
    margin-top: 30px;
  }
  .details p
  {
    color: blue;
    font-family: Charcoal;
    font-size: 26px;
    text-transform: uppercase;
  }